@model IEnumerable<Queue_New.Models.GasColumn>

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>

<div class="blocks">
    <h4 style="margin-left: 10%; margin-top: 3%; color: white ">Колонка №1</h4>
    @foreach (var item in Model)
    {
        @if (item.ColumnNumber == 1)
        {
            @if (item.Occupied == false)
            {
                <div class="queueColumn">
                    <h4>@item.QueueTime</h4>
                    <button type="button" class="mainBtn" data-toggle="ajax-modal" data-target="#addEntry" data-url="@Url.Action($"SingUp/{item.Id}")">Записаться</button>
                </div>
            }
            else
            {
                <div class="queueColumn">
                    <h4>@item.QueueTime</h4>
                    <button type="button" class="mainCancelBtn" data-toggle="ajax-modal" data-target="#addEntry" data-url="@Url.Action($"SingOut/{item.Id}")">Отменить</button>
                </div>
            }
        }
    }
</div>
<div class="blocks">
    <h4 style="margin-left: 10%; margin-top: 3%; color:white">Колонка №2</h4>
    @foreach (var item in Model)
    {
        @if (item.ColumnNumber == 2)
        {
            @if (item.Occupied == false)
            {
                <div class="queueColumn">
                    <h4>@item.QueueTime</h4>
                    <button type="button" class="mainBtn" data-toggle="ajax-modal" data-target="#addEntry" data-url="@Url.Action($"SingUp/{item.Id}")">Записаться</button>
                </div>
            }
            else
            {
                <div class="queueColumn">
                    <h4>@item.QueueTime</h4>
                    <button class="mainBtn" data-toggle="ajax-modal" data-target="#addEntry" data-url="@Url.Action($"SingOut/{item.Id}")">Отменить</button>
                </div>
            }
        }
    }
</div>
<div class="blocks">
    <h4 style="margin-left: 10%; margin-top: 3%; color: white ">Колонка №3</h4>
    @foreach (var item in Model)
    {
        @if (item.ColumnNumber == 3)
        {
            @if (item.Occupied == false)
            {
                <div class="queueColumn">
                    <h4>@item.QueueTime</h4>
                    <button type="button" class="mainBtn" data-toggle="ajax-modal" data-target="#addEntry" data-url="@Url.Action($"SingUp/{item.Id}")">Записаться</button>
                </div>
            }
            else
            {
                <div class="queueColumn">
                    <h4>@item.QueueTime</h4>
                    <button class="mainBtn" data-toggle="ajax-modal" data-target="#addEntry" data-url="@Url.Action($"SingOut/{item.Id}")">Отменить</button>
                </div>
            }
        }
    }
</div>